
.grid{
    -fx-background-color: #fffaf6;

    -fx-background-radius: 30 30 0 0;
    -fx-padding: 0;
    -fx-border-color: #785748;
    -fx-border-width: 1;
}

. ALLpage{
    -fx-background-color:#785748;
}

.HBox {
    -fx-padding: 5;
    -fx-spacing: 30;

    -fx-min-width:340;
    -fx-alignment: center-left;

    -fx-border-color: #E0E0E0;
    -fx-border-width: 0 0 2 0;
    -fx-background-color:#fffaf6;
}
.HBox:hover{
    -fx-background-color: #feeddb;
    -fx-text-fill:#67625c ;
}

.view {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.1), 3, 0, 0, 1);
    -fx-border-radius: 10;
    -fx-border-color: #7c4707;

}


.labelE {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-min-width: 130;
    -fx-text-fill: #55504e;
      -fx-node-orientation:left-to-right;
    /*-fx-background-color: red;*/
}

.labelAR {
    -fx-padding: 10;
    -fx-font-size: 16;
    -fx-min-width: 140;
/*-fx-background-color: green;*/
    -fx-text-fill:#aea494;
    -fx-font-weight: normal;
    -fx-node-orientation: right-to-left;
}

.imageLabel{
    -fx-font-weight: bold;
}

.heading{
    -fx-min-height: 100;
    -fx-background-color: #785748;
    -fx-font-size: 25;
    -fx-font-weight: 700;
    -fx-padding: 20;

}
.searchField{
    -fx-min-width: 150;
    -fx-background-color: #fde8d6;
    -fx-font-size: 13;
    -fx-padding: 2 6;
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;

}
.first-cell {
    -fx-background-radius: 30 30 0 0;
}
.search-button {
    -fx-min-width: 25;
    -fx-min-height: 18;
    -fx-background-color: #facba1;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;

}

.search-button:hover {
    -fx-background-color: #fbae6d;
}

.bottom-nav {
    -fx-background-color: rgba(255, 250, 244, 0.88);
    -fx-padding: 2 0 2 0;
    -fx-effect: dropshadow(gaussian, rgba(94, 94, 94, 0.2), 8, 0.2, 0, -4);
}

.nav-item {
    -fx-alignment: center;
    -fx-spacing: 4;
    -fx-cursor: hand;
}

.nav-item Label {
    -fx-font-size: 11px;
    -fx-text-fill: #9e9e9e;
}